@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  margin-top: 15px; 
  max-height: 100px ;
}

.logo {
  height: 100%;
  width: 15%;
  margin-left: 10%;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}

nav > a.has-border {
  margin: 2% 2%;
  height: auto;
  width: 15%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}

.has-border {
  border-radius: 25px;
  border: 2px solid black;
  background: transparent;
  padding: 10px ; 

  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}

.has-border:hover{
  background: rgb(255, 208, 137);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
  box-shadow:inset 2px 2px 2px 0px 
  rgba(255,255,255,.5),
  7px 7px 20px 0px 
  rgba(0,0,0,.1),
  4px 4px 5px 0px 
  rgba(0,0,0,.1);
outline: none;
}

.has-border span:hover{
  color: black;
}



@media only screen and (max-width:1024px) {
  
  header {
    display: grid;
    grid-template-columns: 30% 70%;

  }
 
  .logo {
    width: 70px;
    height: 70px;
    margin-left: 50px;
  }
  
  nav > a.has-border {
    height: auto;
    width: 35%;
    font-size: 20px;
    margin-bottom: 20px;
  }


}  

@media only screen and (max-width:768px) {
  header {
    display: grid;
    grid-template-columns: 20% 80%;

  }
 
  .logo {
    width: 70px;
    height: 70px;
    margin-left: 50px;
  }
  
  nav > a.has-border {
    height: auto;
    width: 35%;
    font-size: 20px;
    margin-bottom: 20px;
  }
}  

@media only screen and (max-width:480px) {
  header {
    display: grid;
    grid-template-columns: 20% 80%;

  }
 
  .logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  
  nav > a.has-border {
    height: auto;
    width: 15%;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .has-border {
    border: 1px solid black;
  }
}  

@media only screen and (max-width:320px) {

  header {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    margin-top: 15px; 
    max-height: 100px ;
  }

  .logo {
    width: 70%;
    height:80%;
    align-items: center;
  }
  
  nav > a.has-border {
    height: auto;
    width: 13%;
    font-size: 10px;
  }

  .has-border {
    border: 1px solid black;
  }
}  