@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html, body {
  font-family: Open Sans;
  font-size: 18px;
  scroll-behavior: smooth;
  box-sizing: border-box;
} 

.SummaryBlocks {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 50% 50%;

  padding: 20px;
}

.SquareAroundSummaryBlocks {
  margin: 5px;
  padding: 10px;
}
 
img {
  width: 100%;
  height: 70%;
}

@media only screen and (max-width:1024px) {
  img {
    width: 100%;
    height: 60%;
  }
}
@media only screen and (max-width:768px) {
  img {
    width: 100%;
    height: 40%;
  }
  }
@media only screen and (max-width:480px) {
  img {
    width: 100%;
    height: 35%;
  }
    }
@media only screen and (max-width:320px) {
  img {
    width: 100%;
    height: 40%;
  }

  body {
    font-size: 10px;
  }
      }
