@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html, body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  scroll-behavior: smooth;
  margin: auto;
}


.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(255, 208, 137);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
}

.wrapper {
  display: grid;
}

.typing-demo {
  width: 38.5ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.ParallaxContainer {
  position: relative;
  max-width: 100%;
  display: flex;
  z-index: -1;
  /* height: 81%; */
  height: 700px;
  margin-top: -70px;
  justify-content: flex-start;
  align-items: center;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sakura.png);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
  ;
}

#profile-pic {
  width: 55%;
  top: 40px;
  left: 40%;
  margin: auto;
  position: absolute;
  background-color: transparent;
}

h1 {
  padding-top: 5%;
  color: black;
  font-size: 5em;
  font-weight: 800;
  max-width: 1100px;
  line-height: 100px;
}

h2 {
  font-family:  'Lato', sans-serif;
  /* padding-left: 20%; */
  color: black;
  /* text-align: left; */
  font-size: 150%;
}

button {
  grid-column: 2/3;
  height: 10%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 1%;
  border-radius: 25px;
  padding: 10px 15px;
  background: white;
  border: 2px solid black;
}

.flexboxContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 65%;
}

.portfolio:hover{
  background: rgb(255, 208, 137);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
  box-shadow:inset 2px 2px 2px 0px 
  rgba(255,255,255,.5),
  7px 7px 20px 0px 
  rgba(0,0,0,.1),
  4px 4px 5px 0px 
  rgba(0,0,0,.1);
outline: none;
}

.portfolio span:hover{
  color: black;
}
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height: 50px;
  margin-bottom: -15px; /*Fix for safari gap*/
  min-height: 70px;
  max-height:150px;
}

.content {
  position:relative;
  height: 700px;
  text-align:center;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* End Animation */

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}
/*End waves*/

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content2 {
  max-width: 90%;
  margin: 0 auto;
  padding: 75px 0;
}


.container{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
  

}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;

}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;

  
  
  &:hover{
    flex: 7;
  }
}

.item-1 { 
  
  background-image: linear-gradient(60deg, rgba(249,178,51,.8) 0%, rgba(254, 220, 169, .8) 100%), url("./kawaii.png");
}

.item-2 { 
  
  background-image: linear-gradient(60deg, rgba(249,178,51,.8) 0%, rgba(254, 220, 169, .8) 100%),url('./nasa.png');
}

.item-3 { 
  background-image: linear-gradient(60deg, rgba(249,178,51,.8) 0%, rgba(254, 220, 169, .8) 100%),url('./responsive\ site.png');
}

.item-4 { 
  background-image: linear-gradient(60deg, rgba(249,178,51,.8) 0%, rgba(254, 220, 169, .8) 100%),url('./zizurz.png');
}

h3 {
  font-size: 3em ;
  text-align: center;
}
p {
  margin: 30px 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
  display: flex;
}

a.item {
  font-size: 3em;
  text-decoration: none;
  color: white;
  font-family: "Lato";
  line-height: 1em;
  text-align: center;
}


/* This size and lower needs a lot of updates */

@media only screen and (max-width: 1200px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    width: 55%;
  }
  .ParallaxContainer {
    justify-content: center;
  }

  h1 {
    margin-right: 300px;
    margin-bottom: 0px;
  }

  div.wrapper {
   margin-right: 300px;
  
  }

  button {
    margin-right: 300px;
  }

} 
@media only screen and (max-width:1024px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    width: 55%;
  }
  .ParallaxContainer {
    justify-content: center;
  }

  h1 {
    margin-right: 300px;
    margin-bottom: 0px;
  }

  div.wrapper {
   margin-right: 300px;
  
  }

  button {
    margin-right: 300px;
  }
} 
@media only screen and (max-width:768px) {
  .Content2 {
    max-width: 70%;
  }
  
  
  .container{
    padding: 0px;
    margin: 0px;
    width: 110%;
    
  
  }
  
  .gallery-wrap {
    width: 50%;
    height: 50vh;
  }
  
  #profile-pic {
    top: unset;
    bottom: -30px;
    width: 65%;
  }
  .ParallaxContainer {
    justify-content: center;
    height: 600px;
  }

  h1 {
    margin-right: 200px;
    margin-bottom: 0px;
  }

  div.wrapper {
   margin-right: 200px;
  }

  .typing-demo {
    font-size: 20px;
  }

  button {
    margin-right: 200px;
  }
  }
@media only screen and (max-width:480px) {
  #profile-pic {
    width: 95%;
    top: 0;
    left: 15%;
    top: auto;
    margin: auto;
    visibility: visible;
    }

    .typing-demo {
      visibility: hidden;
    }

    .wrapper {
      visibility: hidden;
    }

    .ParallaxContainer {
      height: 500px;
      justify-content: center;
    }

    h1 {
      font-size: 3em;
      max-width: 95%;
      text-align: center;
      line-height: 1em;
      margin-top: -25px;
    }
    
    .flexboxContainer {
    display: flex;
    align-items: center;
    width: 95%;
   }
   button {
   margin-left: 0px;
   margin-top: -50px;
  }
div .Content2 { 
  max-width: 80%;
}
  h3 { 
    font-size:2em;
  }
  }
@media only screen and (max-width:320px) {
  #profile-pic {
    visibility: hidden;
    }

    .typing-demo {
      visibility: hidden;
    }

    .wrapper {
      visibility: hidden;
    }

    .ParallaxContainer {
      height: 350px;
      justify-content: center;
    }

    h1 {
      font-size: 2em;
      line-height: 1.25em;
      margin: 0;
      align-content: top;
      margin-top: 50px;
 
    }

   button {
      margin: 0px;
      margin-top: -55px;
      align-content: top;

  }
div .Content2 { 
  max-width: 80%;
}
  h3 { 
    font-size:2em;
  }
  }