@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html, body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  scroll-behavior: smooth;
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  margin-top: 15px; 
  max-height: 100px ;
}

.logo {
  height: 80%;
  width: 12%;
  margin-left: 10%;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}

nav > a {
  margin: 2% 2%;
  height: 25%;
  width: 15%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}

.has-border {
  border-radius: 25px;
  border: 2px solid black;
  background: transparent;
  padding: 10px ; 

  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}

.has-border:hover{
  background: rgb(255, 208, 137);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
  box-shadow:inset 2px 2px 2px 0px 
  rgba(255,255,255,.5),
  7px 7px 20px 0px 
  rgba(0,0,0,.1),
  4px 4px 5px 0px 
  rgba(0,0,0,.1);
outline: none;
}

.has-border span:hover{
  color: black;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(255, 208, 137);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
}

.ParallaxContainer {
  position: relative;
  max-width: 100%;
  display: flex;
  z-index: -1;
  /* height: 81%; */
  height: 700px;
  margin-top: -70px;
  justify-content: flex-start;
  align-items: center;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sakura.png);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
  ;
}

#profile-pic {
  width: 55%;
  top: 40px;
  left: 40%;
  margin: auto;
  position: absolute;
  background-color: transparent;
}

h1 {
  padding-top: 5%;
  color: black;
  font-size: 5em;
  font-weight: 800;
  max-width: 1100px;
  line-height: 100px;
}

h2 {
  font-family:  'Lato', sans-serif;
  /* padding-left: 20%; */
  color: black;
  /* text-align: left; */
  font-size: 150%;
}

button {
  grid-column: 2/3;
  height: 10%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 1%;
  border-radius: 25px;
  padding: 10px 15px;
  background: white;
  border: 2px solid black;
}

.flexboxContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 65%;
}

.portfolio:hover{
  background: rgb(255, 208, 137);
  background: linear-gradient(60deg, rgba(249,178,51,100) 0%, rgba(254, 220, 169, 100) 100%);
  box-shadow:inset 2px 2px 2px 0px 
  rgba(255,255,255,.5),
  7px 7px 20px 0px 
  rgba(0,0,0,.1),
  4px 4px 5px 0px 
  rgba(0,0,0,.1);
outline: none;
}

.portfolio span:hover{
  color: black;
}
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height: 50px;
  margin-bottom: -15px; /*Fix for safari gap*/
  min-height: 70px;
  max-height:150px;
}

.content {
  position:relative;
  height: 700px;
  text-align:center;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* End Animation */

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}
/*End waves*/

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content2 {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}

h3 {
  font-size: 3em ;
}
p {
  margin: 75px 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

@media only screen and (max-width: 1350px) {
  h1 {
    font-size: 4em;
  }
  #profile-pic {
    top: unset;
    bottom: -100px;
    
  }
} 

@media only screen and (max-width: 1250px) {
  #profile-pic {
    top: unset;
    bottom: -65px;
    width: 55%;
  }
} 

@media only screen and (max-width: 1200px) {
  #profile-pic {
    top: unset;
    bottom: -65px;
    width: 60%;
  }
} 

@media only screen and (max-width: 1150px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    width: 60%;
  }
} 

/* This size and lower needs a lot of updates */
@media only screen and (max-width: 1050px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    width: 65%;
  }
} 

@media only screen and (max-width: 900px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    width: 75%;
  }
} 

@media only screen and (max-width: 800px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    width: 85%;
    margin-left: -70px;

  }
} 

@media only screen and (max-width: 750px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -100px;
    width: 95%;
  }
} 
@media only screen and (max-width:650px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -150px;
    width: 100%;
  }
} 
@media only screen and (max-width:600px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -150px;
    width: 110%;
  }
} 

@media only screen and (max-width:550px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -175px;
    width: 125%;
  }
} 

@media only screen and (max-width:500px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -185px;
    width: 140%;
  }
} 

@media only screen and (max-width:450px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -195px;
    width: 150%;
  }
} 

@media only screen and (max-width:400px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -225px;
    width: 170%;
  }
} 

@media only screen and (max-width:350px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -205px;
    width: 190%;
  }
} 

@media only screen and (max-width:300px) {
  #profile-pic {
    top: unset;
    bottom: -50px;
    margin-left: -225px;
    width: 200%;
  }
} 